:root {
    --app-height: 100%;
}

body{
    background: linear-gradient(to right top, #4E7291, #BC98F1);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#app {
    margin-top: 10%;
    transition: all .3s;
    width: 100%;
    
   
}
.listContainer{
    background-color: #83b3de;
}

li {
    text-transform: capitalize;
    color: white;
    margin-bottom: 1rem;
    border-bottom: 1px dashed white;
    padding-bottom: .5rem;
}

li:last-child{
    margin: 0;
    border: none;
    padding-bottom: 0;
}
li:hover {
    cursor: pointer;
}


.error-enter-active {
    animation: error .3s;
    opacity: 1;
    transition: all 0.3s ease-out;
}

.error-leave-active {
    transition: all 0.5s ease;
    opacity: 0;
}

.error-enter-from,
.error-leave-to {
    opacity: 0;
}

@keyframes error {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-20px);
    }

    50% {
        transform: translateX(20px);
    }

    75% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

